<div class="container d-flex justify-content-center">
	<a class="btn-theme" asp-controller="Login" asp-action="Login">LOGIN</a>
	<a class="btn-theme" asp-controller="User" asp-action="Register">REGISTER</a>
</div>
