@model WebApp.Models.CollectionModel

<section class="collection-grid">
    <div class="container">
        <h1 class="title">@Model.Title</h1>

        <div class="item-collection">

            @foreach (var item in Model.CollectionItems)
            {
                <partial name="~/Views/Shared/Partials/_CollectionItemPartial.cshtml" model="item" />
            }

        </div>
        <div class="load-more d-flex justify-content-center">
            <button class="btn-white">LOAD MORE <i class="fa-solid fa-rotate-right"></i></button>
        </div>
    </div>
</section>
